*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{
    width: 80%;
    display: flex;
    box-shadow: 13px 13px 24px 8px #000000;
    flex-direction: row;
    justify-content: space-between;
}
.card_left > span{
    font-weight: 300;
}

.card_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.card_left > a{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: black;
    font-style: bold;
}

.card_left > p{
    color: grey;
}

.card_right{
    padding-left: 40px;
}